.btn {
    font-size: 14px;
    text-decoration: none;
    cursor: pointer;
    display: block;
    width: 90px;
    font-weight: bold;
    margin: 20px auto;
    text-align: center;
    padding: 1px 5px;
    color: #022524;
    border-radius: 4px;

    background: #00FFFF;
    border: 1px solid #a1a1a1;
  }
  
  .btn:hover {
    background: #008b8b;
    color: #ffffff;
  }